#gocast global ignores
*.DS_Store
projects/ios/apps/carousel/code/project/mac
projects/ios/apps/carousel/code/build
projects/ios/apps/carousel/code/project/ios/HelloWorld/CordovaLib/CordovaLib.xcodeproj/xcuserdata
projects/ios/apps/carousel/code/project/ios/HelloWorld/HelloWorld.xcodeproj/project.xcworkspace/xcuserdata
projects/ios/apps/carousel/code/project/ios/HelloWorld/HelloWorld.xcodeproj/xcuserdata
projects/ios/apps/carousel/code/project/ios/HelloWorld copy
projects/ios/apps/carousel/code/project/ios
