/*.DS_Store
/apps/carousel/code/project/mac
/apps/carousel/code/build
/apps/carousel/code/project/ios/HelloWorld/CordovaLib/CordovaLib.xcodeproj/xcuserdata
/apps/carousel/code/project/ios/HelloWorld/HelloWorld.xcodeproj/project.xcworkspace/xcuserdata
/apps/carousel/code/project/ios/HelloWorld/HelloWorld.xcodeproj/xcuserdata
/apps/carousel/code/project/ios/All.xcodeproj
/apps/carousel/code/project/ios/HelloWorld.xcodeproj
/apps/carousel/code/source/Cordova-ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
/apps/carousel/code/project/ios/Carousel.xcodeproj/xcuserdata
/apps/carousel/code/project/ios/Carousel.xcodeproj/project.xcworkspace/xcuserdata
/apps/carousel/code/project/ios/Carousel.xcodeproj/project.xcworkspace
