/*.DS_Store
/code/build/
/code/project/ios
/code/server/database/accounts.json
/code/server/database/accounts-hashed.json
/code/server/database/global/audio/2*
/code/server/database/global/logs/
/code/server/database/global/text/
/code/server/database/user
