#fileviewer {
	display: none;
	position: absolute;
	left: 100px;
	top: 50px;
	width: 800px;
	height: 600px;
	background-color: black;
	border: 5px lightgrey solid;
	font-family: verdana;
	box-shadow: 0px 0px 10px lightgrey;
	-webkit-box-shadow: 0px 0px 10px lightgrey;
	-moz-box-shadow: 0px 0px 10px lightgrey;
}

#fileviewer.show {
	display: block;
}

#fileviewer > img.close {
	position: absolute;
	width: 18px;
	height: 18px;
	right: -20px;
	top: -20px;
	background-color: darkred;
	padding: 10px;
	cursor: pointer;
	border-radius: 30px;
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
}

#fileviewer > #header {
	position: absolute;
	margin: 0px;
	left: 0px;
	top: 0px;
	height: 30px;
	line-height: 30px;
	background-color: lightgrey;
	color: black;
	text-align: center;
}

#fileviewer > #note {
	position: absolute;
	margin: 0px;
	left: 0px;
	top: 30px;
	height: 20px;
	line-height: 20px;
	background-color: lightgrey;
	color: black;
	text-align: center;
	font-size: 12px;
}

#fileviewer > #filecontent {
	position: absolute;
	left: 0px;
	top: 50px;
	background-color: white;
	box-shadow: 0px 0px 2px black;
	-webkit-box-shadow: 0px 0px 2px black;
	-moz-box-shadow: 0px 0px 2px black;
}

#fileviewer > a.pagination {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	opacity: 0.6;
}

#fileviewer > a.pagination:hover {
	opacity: 1.0;
}

#fileviewer > a.pagination.show {
	display: block;
}

#fileviewer > a#prev {
	left: 2px;
}

#fileviewer > a#next {
	right: 2px;
}

#fileviewer > #filecontent::-webkit-scrollbar {
    width: 10px;
    border-left: 1px lightgrey solid;
    box-shadow: inset 0px 0px 3px lightgrey;
}

#fileviewer > #filecontent::-webkit-scrollbar-thumb {
    background: rgba(128,128,128,0.5);
    border: 1px darkgrey solid;
    border-radius: 0px;
}
