@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('fonts/modernpictograms/modernpics-webfont.eot');
    src: url('fonts/modernpictograms/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modernpictograms/modernpics-webfont.woff') format('woff'),
         url('fonts/modernpictograms/modernpics-webfont.ttf') format('truetype'),
         url('fonts/modernpictograms/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('fonts/entypo/Entypo-webfont.eot');
    src: url('fonts/entypo/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo/Entypo-webfont.woff') format('woff'),
         url('fonts/entypo/Entypo-webfont.ttf') format('truetype'),
         url('fonts/entypo/Entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'GillSans';
	src: url('fonts/gillsans/gillsans.eot');
	src: url('fonts/gillsans/gillsans.eot#iefix') format('embedded-opentype'),
		 url('fonts/gillsans/gillsans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	/* Dimensions */
	height: 100%;
	min-width: 1100px;
	margin-left: 200px;
	margin-right: 100px;

	/* Background */
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;	
}

#pagetitle {
	color: #C4C4C4;
	font-family: 'GillSans', sans-serif;
	font-weight: normal;
	letter-spacing: 3px;
}

#views {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#views .viewitem {
	display: inline-block;
}

#settingslist li {
	display: inline-block;
}

#settingslist td {
	text-align: center;
}

#pageicon {
	color: white;
	background-color: red;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'ModernPictogramsNormal', sans-serif;
	font-size: 30px;
}

.view {
	min-width: 320px;
	min-height: 240px;
	max-width: 320px;
	max-height: 240px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	border: 3px solid grey;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

table {
	background-color: #4169E1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

select {
	max-width: 200px;
	min-width: 200px;
	font-size: 15px;
}

.borderless {
	border: none;
}

.button {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	text-decoration: none;
	text-align: center;
	font-family: 'GillSans', sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	background-color: #4169E1;
	color: white;
}

.button:hover {
	background-color: white;
	color: #4169E1;
}

.button:active {	
	background-color: red;
	color: white;
}

#buttons {
	margin-left: 15%;
	margin-right: 20%;
	text-align: center;
}

#settingsdescription {
	margin-top: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	background-color: #C4C4C4;
	opacity: 0.5;
}

.icon-picto {
	color: white;
	font-family: 'ModernPictogramsNormal', sans-serif;
	font-size: 30px;
}

.icon-small {
	font-size: 15px;
}

.icon-right {
	float: right;
	padding-right: 5px;
}

.icon-entypo {
	color: white;
	font-family: 'EntypoRegular', sans-serif;
	font-size: 55px;
}

.slider {
	margin-left: 5px;
	max-width: 187px;
	min-width: 187px;
	font-size: 7px;
}

.error {
	position: absolute;
}