/*@font-face {
    font-family: 'GillSans';
    src: url('font/gillsans.eot');
    src: url('font/gillsans.eot#iefix') format('embedded-opentype'),
         url('font/gillsans.woff') format('woff'),
         url('font/gillsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background: #e9f6fd;
    background: -moz-radial-gradient(center, ellipse cover,  #e9f6fd 0%, #d3eefb 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e9f6fd), color-stop(100%,#d3eefb));
    background: -webkit-radial-gradient(center, ellipse cover,  #e9f6fd 0%,#d3eefb 100%);
    background: -o-radial-gradient(center, ellipse cover,  #e9f6fd 0%,#d3eefb 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #e9f6fd 0%,#d3eefb 100%);
    background: radial-gradient(ellipse at center,  #e9f6fd 0%,#d3eefb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=1 );
}

body > .navbar {
    box-shadow: 0px 0px 20px black;
    -webkit-box-shadow: 0px 0px 20px black;
    -moz-box-shadow: 0px 0px 20px black;
}

body > .container > .row > .span4 > form {
    display: none;
    margin-top: 150px;
}

body > .container > .row > .span4 > form .btn {
    margin-left: 5px;
}

body > .container > .row > .span4 > form .controls {
    margin-left: 0px;
}

body > .container > .row > .span4 > form.show {
    display: block;
}

body > .container > .row > .span4 > form .alert {
    display: none;
    padding-right: 14px;
}

body > .container > .row > .span4 > form .alert.show {
    display: block;
}
