html {
    height: 100%;
}

body {
    margin-top: 90px;
    background: #E9F6FD;
}

body > .navbar {
    box-shadow: 0px 0px 20px black;
    -webkit-box-shadow: 0px 0px 20px black;
    -moz-box-shadow: 0px 0px 20px black;
}

body > .container > .row > .span5 > form {
    display: none;
    margin-top: 50px;
    border: 1px darkgrey solid;
    border-radius: 3px;
    background-color: white;
    padding: 0px 5px 0px 5px;

    /* box shadow effect */
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

body > .container > .row > .span5 > form:before,
body > .container > .row > .span5 > form:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

body > .container > .row > .span5 > form:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
}

body > .container > .row > .span5 > form .controls {
    margin-left: 0px;
}

body > .container > .row > .span5 > form.show {
    display: block;
}

body > .container > .row > .span5 > form .alert {
    opacity: 0;
    padding-right: 14px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}

body > .container > .row > .span5 > form .alert.show {
    opacity: 1;
}

body > .container > .row > .span5 > form .control-group[ph],
body > .container > .row > .span5 > .subscription > form[ph] {
    position: relative;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    padding-top: 15px;
    padding-bottom: 15px;
}

body > .container > .row > .span5 > form .control-group[ph]:before,
body > .container > .row > .span5 > .subscription > form[ph]:before {
    position: absolute;
    content: attr(ph);
    background-color: white;
    padding: 0 5px;
    color: #777777;
    left: 10px;
    top: -7px;
    height: 15px;
    line-height: 15px;
}

body > .container > .row > .span5 > .subscription > form[ph] {
    border: 1px solid black;
    padding-right: 7px;
}

body > .container > .row > .span5 > .subscription > form[ph]:before {
    background-color: black;
    border-radius: 2px;
    color: white;
}

body > .container > .row > .span5 > .subscription {
    display: none;
}

body > .container > .row > .span5 > .subscription.show {
    display: block;
}

.popover {
    width: auto;
}

.popover strong {
    font-size: 1.25em;
}