<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cmdline_audio_peer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cmdline_audio_peer_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>cmdline_audio_peer_monolithic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>peerconnection_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>008174D514EAEEBB00C13DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02AD31D13B04B853070AAB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05B95CA6B38F7725D38CB761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEA6D7F3D3F0017E5610FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED05A78B8BF22E6B1E1ACCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
